// Variables
@import "variables";
@import "cursors";
// Misc
html {
    overflow-y: auto;
}
.overlay {
    background: rgba($color: #000000, $alpha: 0.5);
}
// Transitions
.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.slide-enter,
.slide-leave-to {
    opacity: 0;
    transform: translateY(-200vh);
}
.slide-left-leave-to,
.slide-right-enter {
    opacity: 0;
    transform: translateX(-100vw);
}
.slide-right-leave-to,
.slide-left-enter {
    opacity: 0;
    transform: translateX(100vw);
}

.t-hero-duration {
    transition: all 0.5s ease-in;
}
.fade-enter-active,
.fade-leave-active {
    transition: all 1s ease;
}
.slide-enter-active,
.slide-leave-active,
.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
    transition: all 0.5s ease-in-out;
}

// Themed
.v-main {
    z-index: 1;
}
.theme--dark .v-main {
    background: #121212;
}
.theme--light .v-main {
    background: #fff;
}
